{% extends "base.html" %}
{% block title %}{{ _title }}{% endblock %}
{% block content %}

<h1>DATABASE - {{ page }}</h1>
		<table>
			<thead>
				<tr>
					<!-- <th>Query</th> -->
					<th>Ord.</th>
					<th>Title</th>
					<th>Size</th>
					<th>Seeds</th>
					<th>Magnet</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				{% for i in range(data|length) %}
				
				<tr>
					<td>{{ i + 1 }}</td>
					{% for key, value in data[i].items() %}
					
						{% if key == 'title' %}
							<td>{{ value }}</td>
						{% endif %}
						{% if key == 'size' %}
							<td>{{ value }}</td>
						{% endif %}
						{% if key == 'seeds' %}
							{% if value > 100 %}
								<td class="active">{{ value }}</td>
							{% elif value >= 100 %}
								<td class="sleep">{{ value }}</td>
							{% else %}
								<td class="dead">{{ value }}</td>
							{% endif %}
						{% endif %}
						{% if key == 'magnet' %}
							<td><a href={{ value }}>Magnet Link</a></td>
						{% endif %}
					{% endfor %}
					<td> {{ time }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

{% endblock %}